<!DOCTYPE html>
<html>
<head>
	
	<link rel = "stylesheet" href="/static/css/styles.css">

  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>MinimalTech</title>



</head>
<body>


	<div class = "header">
		<div class = "conttitle">
			<div class = "title">
				MinimalTech
			</div>
		</div>
		
	</div>

	<div class = "contmisionvision">
		<div class = "mision">
			<div class = "continfo">
				<p class = "title-mision">Misión</p>
				<p class = "text-mision">Contribuir en la construcción de una movilidad eficiente y segura a través de la información confiable y oportuna.</p>
			</div>
		</div>

		<div class = "vision">
			<div class = "continfo">
				<p class = "title-vision">Visión</p>
				<p class = "text-vision">Ser en el 2025 una empresa líder e importante en el uso de la tecnología enfocada a la movilidad eficiente.</p>
			</div>
		</div>
	</div>

	<div class = "contvideo">
		<video class = "video" src="/static/videos/video.mp4" controls>
			Tu navegador no implementa el elemento <code>video</code>.
		</video>
	</div>
	
	
</body>
</html>